@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
    background-color: var(--white-gray);
}

body {
    max-width: none;
}

.main {
    display: flex;
    max-height: fit-content;
    padding: 100px 300px;
    flex-direction: column;
}

.m-img {
    vertical-align: middle;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 10%;
}

.logo {
    cursor: pointer;
    color: var(--orange-dead);
    font-size: 30px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    font-size: 20px;
}

.nav-links li {
    display: inline-block;
    padding: 30px 10px;
}

.nav-links li a {
    color: var(--dead-gray);
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

.nav-links li a:hover {
    color: var(--orange-dead);
}

.botao {
    cursor: pointer;
    background-color: var(--orange-dead);
    appearance: none;
    border: none;
    color: var(--white);
    padding: 10px 50px;
    font-size: 25px;
    border-radius: 9px;
}

.texto {
    max-width: 500px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.t-1 {
    font-size: 60px;
    color: var(--dead-gray);
}

.t-2 {
    padding-top: 20px;
    font-size: 30px;
    color: var(--dead-gray);
    list-style: none;
    font-style: normal;
}

:root {
    --orange-dead: #D2872C;
    --dead-gray: #766F68;
    --yellow: #f4cf0a;
    --purple: #5c0d78;
    --white: #FFFFFF;
    --black: #110e0e;
    --dark-purple: #490861;
    --white-gray: #e3e3e3;
    --light-gray: #c1c1c1;
    --pale-gray: #333333;
    --dark-gray: #242020;
    --green: #adff2f;
    --nephritis: #27ae60;
    --pumpkin: #d35400;
    --pomegranate: #c0392b;
    --blue: #47ADE1;
    --red: #E63450;
    --light-purple: #D427D8;
    --primary: #0e0f10;
    --secondary: #191b1d;
    --tertiary: #1A1C1F;
    --quaternary: rgba(84, 84, 84, 0.75);
    --quinary: #858585;
    --senary: #828386;
    --dark-hover: #23272C;
}